In [188]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import mpl_toolkits
%matplotlib inline

import time

In [237]:
data = pd.read_csv("data/housing_data1.csv")

In [238]:
data

,price,title,distance,date-posted,location,description,beds,baths
0,2775.0,3 BED 3 BATH - PRIVATE ENSUITE BATHROOM FOR EV...,20,7012021,Kingston,Starting at $925/Bedroom per Month Private ens...,3,3
1,2455.0,MODERN 3-Bedroom Apartment Downtown - 5 Mins t...,5,17012021,Kingston,3D virtual tour available â€“ contact for deta...,3,1
2,2625.0,Renovated from top to bottom! 3 Bedroom - Avai...,20,7012021,Kingston,It is a beautiful spacious unit in a great loc...,3,1
3,1950.0,"2 Bedroom, Available May 1st, 2021 - 10 MINS F...",10,14012021,Kingston,"Just 10 minutes to Queen's University, and ste...",1,1
4,2673.0,RENOVATED 3-Bedroom Apartment - 5 Mins to Quee...,5,17012021,Kingston,"Completely renovated, 3-bedroom apartment is o...",3,1
...,...,...,...,...,...,...,...,...
60,590.0,ASAP - Looking for Sublet for Jan 1st utilitie...,20,29112020,Kingston,I'm looking for someone to sublet my room or t...,1,1
61,1900.0,WANTED: Apartment/house near Queen's University,20,29112020,Kingston,"Hello, we are two female students from the Fac...",1,1
62,600.0,Single Room for rent all inclusive 600.00,20,28112020,Kingston,"One second floor bedroom for Rent 600 , includ...",1,1
63,570.0,Looking for 2 Student/Young Professional Room...,20,24112020,Kingston,Looking for two students/young professionals r...,1,1
64,550.0,"STUDENT RENTAL, ONE BEDROOM AVAIL STEPS TO PEN...",20,24112020,Kingston,"LOOKING FOR MALE TENANT , ONE BEDROOM IN A THR...",1,1

In [239]:
# Get rid of rows with NaN price
data = data[data['price'].notna()]
data.head()

,price,title,distance,date-posted,location,description,beds,baths
0,2775.0,3 BED 3 BATH - PRIVATE ENSUITE BATHROOM FOR EV...,20,7012021,Kingston,Starting at $925/Bedroom per Month Private ens...,3,3
1,2455.0,MODERN 3-Bedroom Apartment Downtown - 5 Mins t...,5,17012021,Kingston,3D virtual tour available â€“ contact for deta...,3,1
2,2625.0,Renovated from top to bottom! 3 Bedroom - Avai...,20,7012021,Kingston,It is a beautiful spacious unit in a great loc...,3,1
3,1950.0,"2 Bedroom, Available May 1st, 2021 - 10 MINS F...",10,14012021,Kingston,"Just 10 minutes to Queen's University, and ste...",1,1
4,2673.0,RENOVATED 3-Bedroom Apartment - 5 Mins to Quee...,5,17012021,Kingston,"Completely renovated, 3-bedroom apartment is o...",3,1

In [240]:
#labels = data['price']
train1 = data.drop(['title', 'description', 'location'],axis=1)
train1.head()

    price  distance  date-posted  beds  baths
0  2775.0        20      7012021     3      3
1  2455.0         5     17012021     3      1
2  2625.0        20      7012021     3      1
3  1950.0        10     14012021     1      1
4  2673.0         5     17012021     3      1

In [241]:
# Fill in NA
train1 = train1.fillna(20)
train1.head()

    price  distance  date-posted  beds  baths
0  2775.0        20      7012021     3      3
1  2455.0         5     17012021     3      1
2  2625.0        20      7012021     3      1
3  1950.0        10     14012021     1      1
4  2673.0         5     17012021     3      1

In [195]:
# Lets try a bit better
from sklearn import ensemble
import numpy as np

from sklearn.model_selection import train_test_split

In [196]:
X_train, X_test, y_train, y_test = train_test_split(train1, labels, test_size=0.1, random_state=69)

In [197]:
clf = ensemble.GradientBoostingRegressor(n_estimators=400, max_depth=5, min_samples_split=2, learning_rate=0.1, loss='ls')

In [198]:
clf.fit(X_train, y_train)

GradientBoostingRegressor(max_depth=5, n_estimators=400)

In [199]:
clf.score(X_test, y_test) # Need more feature points

0.4488245419835962

In [242]:
key_data = pd.read_csv("data\key_stone_data.csv")
key_data.head(10)

,address,bedrooms,date-available,landlords,price,title,url,A/C,electric,heat
0,"233 Brock St., Kingston, Ontario",1,122021,Keystone Properties,795,Shared Accommodation- Rooms,listing.html?id=52,1,1,1
1,"200-7 Queen St., Kingston, Ontario",1,122021,Keystone Properties,1295,Bachelor Apartment,listing.html?id=189,0,0,1
2,"272.5-17 Princess St., Kingston, Ontario",1,122021,Keystone Properties,1295,Bachelor Apartment,listing.html?id=142,0,0,0
3,"272.5-3 Princess St., Kingston, Ontario",1,152021,Keystone Properties,1495,Bachelor Apartment,listing.html?id=129,0,0,0
4,"200-2 Queen St., Kingston, Ontario",1,122021,Keystone Properties,1495,1 Bedroom Apartment,listing.html?id=185,0,0,1
5,"194-4 Sydenham St., Kingston, Ontario",1,152021,Keystone Properties,1495,1 Bedroom Apartment,listing.html?id=220,0,0,1
6,"265-5 Princess St., Kingston, Ontario",1,122021,Keystone Properties,1695,1 Bedroom Apartment,listing.html?id=93,0,0,0
7,"272.5-22 Princess St., Kingston, Ontario",1,122021,Keystone Properties,1695,1 Bedroom Apartment,listing.html?id=147,0,0,0
8,"272.5-13 Princess St., Kingston, Ontario",1,122021,Keystone Properties,1767,1 Bedroom Apartment,listing.html?id=138,0,0,0
9,"314-2 Princess St, Kingston, Ontario",1,122021,Keystone Properties,1795,1 Bedroom Apartment,listing.html?id=156,0,0,0

In [201]:
int(float("200.5"))

200

In [243]:
# Distance data 0_0
from geopy.geocoders import Nominatim 

geolocator = Nominatim(user_agent="gmod69123@gmail.com")

In [244]:
location = geolocator.geocode("272-17 Princess St., Kingston, Ontario") 
time.sleep(1)

In [245]:
print((location.latitude, location.longitude))

(44.232300699999996, -76.48800148695652)

In [246]:
stauff_address = "101 Union St, Kingston, Ontario"
queens_loc = geolocator.geocode(stauff_address) 
time.sleep(1)

In [247]:
queens_cord = (queens_loc.latitude, queens_loc.longitude)
print(queens_cord)

(44.228056, -76.4957768)

In [248]:
from geopy.distance import geodesic

In [249]:
s = 5.0 #km/h (Average walking speed)
EXTRA_TIME = 5.0

distances_key_stone = []

addresses = list(key_data['address'])
for address in addresses:
    space_split = address.split()
        
    first_part = space_split[0]
    clean_address = ""
    
    try:
        clean_address = str(int(float(first_part.split("-")[0])))
        
        for i in range(1, len(space_split)):
            clean_address += " " + str(space_split[i])
            
        
    except:
        clean_address = address

    location = geolocator.geocode(clean_address) 
    time.sleep(1)
    
    d = geodesic((location.latitude, location.longitude), queens_cord).km
    
    t = d / s * 60 + EXTRA_TIME
    
    distances_key_stone.append(int(t))

In [250]:
#labels = key_data['price']
train2 = key_data.drop(['address', 'landlords', 'title', 'url', 'A/C', 'electric', 'heat'],axis=1)
train2.head()

   bedrooms  date-available  price
0         1          122021    795
1         1          122021   1295
2         1          122021   1295
3         1          152021   1495
4         1          122021   1495

In [251]:
train2['distance'] =  pd.Series(distances_key_stone, index=train2.index)
train2.head()

   bedrooms  date-available  price  distance
0         1          122021    795        14
1         1          122021   1295        15
2         1          122021   1295        14
3         1          152021   1495        14
4         1          122021   1495        15

In [252]:
train2['baths'] = pd.Series(np.ones(len(train2['bedrooms']), int), index=train2.index)
train2.head()

   bedrooms  date-available  price  distance  baths
0         1          122021    795        14      1
1         1          122021   1295        15      1
2         1          122021   1295        14      1
3         1          152021   1495        14      1
4         1          122021   1495        15      1

In [253]:
# Rearrange
train2 = train2[['price','distance', 'date-available', 'bedrooms', 'baths']]
train2.head()

   price  distance  date-available  bedrooms  baths
0    795        14          122021         1      1
1   1295        15          122021         1      1
2   1295        14          122021         1      1
3   1495        14          152021         1      1
4   1495        15          122021         1      1

In [255]:
train2.columns = ['price', 'distance', 'date-posted', 'beds', 'baths']
train2.head()

   price  distance  date-posted  beds  baths
0    795        14       122021     1      1
1   1295        15       122021     1      1
2   1295        14       122021     1      1
3   1495        14       152021     1      1
4   1495        15       122021     1      1

In [214]:
X_train, X_test, y_train, y_test = train_test_split(train2, labels, test_size=0.1, random_state=69)

In [215]:
clf = ensemble.GradientBoostingRegressor(n_estimators=400, max_depth=5, min_samples_split=2, learning_rate=0.1, loss='ls')

In [216]:
clf.fit(X_train, y_train)

GradientBoostingRegressor(max_depth=5, n_estimators=400)

In [217]:
clf.score(X_test, y_test) # Need more feature points

0.0

In [256]:
train1.head()

    price  distance  date-posted  beds  baths
0  2775.0        20      7012021     3      3
1  2455.0         5     17012021     3      1
2  2625.0        20      7012021     3      1
3  1950.0        10     14012021     1      1
4  2673.0         5     17012021     3      1

In [257]:
train2.head()

   price  distance  date-posted  beds  baths
0    795        14       122021     1      1
1   1295        15       122021     1      1
2   1295        14       122021     1      1
3   1495        14       152021     1      1
4   1495        15       122021     1      1

In [258]:
trainComb = pd.concat([train1, train2], ignore_index=True)

In [259]:
trainComb

     price  distance  date-posted  beds  baths
0   2775.0        20      7012021     3      3
1   2455.0         5     17012021     3      1
2   2625.0        20      7012021     3      1
3   1950.0        10     14012021     1      1
4   2673.0         5     17012021     3      1
..     ...       ...          ...   ...    ...
72  1838.0        13     23012021     2      1
73  1848.0        14       152021     2      1
74  2398.0        14       122021     2      1
75  2595.0        15       122021     3      1
76  2604.0        14       152021     3      1

[77 rows x 5 columns]

In [261]:
labels = trainComb['price']
trainComb = trainComb.drop(['price'],axis=1)
trainComb

KeyError: 'price'

In [262]:
trainComb

    distance  date-posted  beds  baths
0         20      7012021     3      3
1          5     17012021     3      1
2         20      7012021     3      1
3         10     14012021     1      1
4          5     17012021     3      1
..       ...          ...   ...    ...
72        13     23012021     2      1
73        14       152021     2      1
74        14       122021     2      1
75        15       122021     3      1
76        14       152021     3      1

[77 rows x 4 columns]

In [264]:
X_train, X_test, y_train, y_test = train_test_split(trainComb, labels, test_size=0.1, random_state=69)

In [265]:
clf = ensemble.GradientBoostingRegressor(n_estimators=400, max_depth=5, min_samples_split=2, learning_rate=0.1, loss='ls')

In [266]:
clf.fit(X_train, y_train)

GradientBoostingRegressor(max_depth=5, n_estimators=400)

In [267]:
clf.score(X_test, y_test) # Need more feature points

0.6550620919345971