In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import mpl_toolkits
%matplotlib inline

In [2]:
data = pd.read_csv("housing_data.csv")

In [30]:
data

,price,title,distance,date-posted,location,description
0,2775.0,3 BED 3 BATH - PRIVATE ENSUITE BATHROOM FOR EV...,NaN,7012021,Kingston,Starting at $925/Bedroom per Month Private ens...
1,2455.0,MODERN 3-Bedroom Apartment Downtown - 5 Mins t...,5.0,17012021,Kingston,3D virtual tour available â€“ contact for deta...
2,2625.0,Renovated from top to bottom! 3 Bedroom - Avai...,NaN,7012021,Kingston,It is a beautiful spacious unit in a great loc...
3,1950.0,"2 Bedroom, Available May 1st, 2021 - 10 MINS F...",10.0,14012021,Kingston,"Just 10 minutes to Queen's University, and ste..."
4,2673.0,RENOVATED 3-Bedroom Apartment - 5 Mins to Quee...,5.0,17012021,Kingston,"Completely renovated, 3-bedroom apartment is o..."
...,...,...,...,...,...,...
60,590.0,ASAP - Looking for Sublet for Jan 1st utilitie...,NaN,29112020,Kingston,I'm looking for someone to sublet my room or t...
61,1900.0,WANTED: Apartment/house near Queen's University,NaN,29112020,Kingston,"Hello, we are two female students from the Fac..."
62,600.0,Single Room for rent all inclusive 600.00,NaN,28112020,Kingston,"One second floor bedroom for Rent 600 , includ..."
63,570.0,Looking for 2 Student/Young Professional Room...,NaN,24112020,Kingston,Looking for two students/young professionals r...
64,550.0,"STUDENT RENTAL, ONE BEDROOM AVAIL STEPS TO PEN...",NaN,24112020,Kingston,"LOOKING FOR MALE TENANT , ONE BEDROOM IN A THR..."

In [52]:
# Get rid of rows with NaN price
data = data[data['price'].notna()]
data.head()

58

In [32]:
labels = data['price']
train1 = data.drop(['title','price', 'description', 'location'],axis=1)
train1.head()

   distance  date-posted
0       NaN      7012021
1       5.0     17012021
2       NaN      7012021
3      10.0     14012021
4       5.0     17012021

In [58]:
# Fill in NA
train1 = train1.fillna(30)
train1.head()

   distance  date-posted
0      30.0      7012021
1       5.0     17012021
2      30.0      7012021
3      10.0     14012021
4       5.0     17012021

In [59]:
# Lets try a bit better
from sklearn import ensemble
import numpy as np
from sklearn.impute import SimpleImputer

In [60]:
X_train, X_test, y_train, y_test = train_test_split(train1, labels, test_size=0.1, random_state=69)

In [61]:
clf = ensemble.GradientBoostingRegressor(n_estimators=400, max_depth=5, min_samples_split=2, learning_rate=0.1, loss='ls')

In [62]:
clf.fit(X_train, y_train)

GradientBoostingRegressor(max_depth=5, n_estimators=400)

In [64]:
clf.score(X_test, y_test) # Need more feature points

0.06672052749155444