In [34]:
import json 
import csv 

# Opening JSON file and loading the data 
# into the variable data 
with open('kijiji-output.json') as json_file: 
    data = json.load(json_file) 
    
count = 0
    
for line in data:
    count += 1
    
count

73

In [64]:
data[8]

{'price': 'Please Contact',
 'title': "Queen's Student Rentals! - Many Units Available on Our Website",
 'distance': '',
 'date-posted': '< 14 hours ago',
 'location': 'Kingston',
 'description': "Attention Queen's students! Are you looking for a rental for May 2021? Look no further, Amber Peak Property Management Ltd. has many well-located housing options to explore. Please see our website ..."}

In [79]:
import pandas as pd 
import numpy as np

from re import sub
from decimal import Decimal

In [59]:
dirty_df = pd.DataFrame(columns=list(data[0].keys()))
dirty_df.loc[0] = data[0].values()
dirty_df

,price,title,distance,date-posted,location,description
0,"$2,775.00",3 BED 3 BATH - PRIVATE ENSUITE BATHROOM FOR EV...,,07/01/2021,Kingston,Starting at $925/Bedroom per Month Private ens...

In [70]:
df = pd.DataFrame(columns=list(data[0].keys()))

# Clean up test
dirty = list(data[0].values())
money = round(Decimal(sub(r'[^\d.]', '', dirty[0])))
date = dirty[3].replace("/", "")
date

df.loc[0] = list(data[0].values())
df

,price,title,distance,date-posted,location,description
0,"$2,775.00",3 BED 3 BATH - PRIVATE ENSUITE BATHROOM FOR EV...,,07/01/2021,Kingston,Starting at $925/Bedroom per Month Private ens...

In [80]:
# Build the dataframe
clean_df = pd.DataFrame(columns=list(data[0].keys()))

for i in range(len(data)):
    # Clean up basic stuff
    dirty = list(data[i].values())
    money = 0
    try:
        money = round(Decimal(sub(r'[^\d.]', '', dirty[0])))
    except:
        money = np.nan
    date = dirty[3].replace("/", "")
    
    clean_df.loc[i] = [money, data[i]['title'], data[i]['distance'],
                       date, data[i]['location'], data[i]['description']]

In [81]:
clean_df

,price,title,distance,date-posted,location,description
0,2775,3 BED 3 BATH - PRIVATE ENSUITE BATHROOM FOR EV...,,07012021,Kingston,Starting at $925/Bedroom per Month Private ens...
1,2455,MODERN 3-Bedroom Apartment Downtown - 5 Mins t...,,17012021,Kingston,3D virtual tour available â€“ contact for deta...
2,2625,Renovated from top to bottom! 3 Bedroom - Avai...,,07012021,Kingston,It is a beautiful spacious unit in a great loc...
3,1950,"2 Bedroom, Available May 1st, 2021 - 10 MINS F...",,14012021,Kingston,"Just 10 minutes to Queen's University, and ste..."
4,2673,RENOVATED 3-Bedroom Apartment - 5 Mins to Quee...,,17012021,Kingston,"Completely renovated, 3-bedroom apartment is o..."
...,...,...,...,...,...,...
68,600,Single Room for rent all inclusive 600.00,,28112020,Kingston,"One second floor bedroom for Rent 600 , includ..."
69,570,Looking for 2 Student/Young Professional Room...,,24112020,Kingston,Looking for two students/young professionals r...
70,550,"STUDENT RENTAL, ONE BEDROOM AVAIL STEPS TO PEN...",,24112020,Kingston,"LOOKING FOR MALE TENANT , ONE BEDROOM IN A THR..."
71,90,NEW AEROBED HEAVY DUTY COMMERCIAL GRADE AIR MA...,,,Ontario,AEROBEDÂ® QUEEN SIZED COMMERCIAL GRADE AIR MAT...
72,115,Promo! EnGenius Network ENS202EXT Wireless N30...,,,Canada,"High Quality, Low Prices for both Wholesale an..."

In [ ]:
# now we will open a file for writing 
data_file = open('data_file.csv', 'w') 

# create the csv writer object 
csv_writer = csv.writer(data_file) 
    
data_file.close()