In [18]:
import pandas as pd 
import numpy as np

from re import sub
from decimal import Decimal
from datetime import datetime

import json 
import csv 

# Opening JSON file and loading the data 
# into the variable data 
with open('data/kijiji-output.json') as json_file: 
    data = json.load(json_file)

In [2]:
# Keywords
bedId = ["bed", "bedroom", "bedrooms","bdrm", "beds"]
bathId = ["bath", "baths", "bathroom", "bathrooms", "rest", "rests", "restroom", "restrooms"]
minuteId = ["min", "mins", "minutes", "minute", "minutes"]

bad = ["food", "promo", "commercial"]

textDic = {"one": 1, "two": 2, "three": 3, "four": 4, "five":5, 
           "six": 6, "seven": 7, "eight": 8, "nine": 9, "ten": 10}

In [ ]:
bds = 0
smollTitle = data[0]['title'].lower().replace("-", " ")
smollTitle = smollTitle.split()
for j in range(len(smollTitle)):
    if smollTitle[j] in bedId:  

        prev = smollTitle[j-1]

        try:
            bds = int(prev)
        except:    
            if prev in textDic:
                bds = textDic[prev]
            else:
                print("FAILED Distance calc")
                bds = np.nan

        break
            
print(bds)

'Kingston'

In [12]:
# Build the dataframe
clean_df = pd.DataFrame(columns=list(data[0].keys())+["beds","baths"])
bad_words = ["food"]

i = 0

for line in data:
    # Checks if it's a non rental posting
    if any(sub in data[i]['title'].lower() for sub in bad):
        print("WATCH OUT")
        i += 1
        continue
    
    # The dirty string
    dirty = list(line.values())
    
    # For money
    money = 0
    try:
        money = round(Decimal(sub(r'[^\d.]', '', dirty[0])))
    except:
        money = np.nan
        
    # For title
    title = dirty[1]
        
    # For distance
    distance = 20
    lTitle = title.lower().replace("-", " ")
    ltSplit = lTitle.split()
    
    for j in range(len(ltSplit)):
        if ltSplit[j] in minuteId:
            if ltSplit[j] == "minutes":
                distance = 3
                break
            
            prev = ltSplit[j-1]

            try:
                distance = int(prev)
            except:    
                if prev in textDic:
                    distance = textDic[prev]
                else:
                    #print("FAILED Distance calc")
                    distance = 20
                    
            break
        
    # Find beds
    beds = 1
    for j in range(len(ltSplit)):
        if ltSplit[j] in bedId:  
            prev = ltSplit[j-1]

            try:
                beds = int(prev)
            except:    
                if prev in textDic:
                    beds = textDic[prev]
                else:
                    #print("FAILED Bed calc")
                    beds = np.nan

            break
            
    # Find bathrooms
    baths = 1
    for j in range(len(ltSplit)):
        if ltSplit[j] in bathId:  
            prev = ltSplit[j-1]

            try:
                baths = int(prev)
            except:    
                if prev in textDic:
                    baths = textDic[prev]
                else:
                    #print("FAILED Bed calc")
                    baths = np.nan

            break
        
    # For date
    date = dirty[3].replace("/", "")
    
    # Makes it today's date if it got posted recently
    if len(date) == 0 or date[0] == "<":
        date = datetime.today().strftime('%d%m%Y')

    #print(lTitle)
    
    clean_df.loc[i] = [money, data[i]['title'], distance,
                       date, data[i]['location'], data[i]['description'],
                       beds, baths]
    
    i += 1

WATCH OUT
WATCH OUT
WATCH OUT
WATCH OUT
WATCH OUT
WATCH OUT
WATCH OUT
WATCH OUT

In [13]:
clean_df.head(15)

,price,title,distance,date-posted,location,description,beds,baths
0,2775,3 BED 3 BATH - PRIVATE ENSUITE BATHROOM FOR EV...,20,07012021,Kingston,Starting at $925/Bedroom per Month Private ens...,3,3
1,2455,MODERN 3-Bedroom Apartment Downtown - 5 Mins t...,5,17012021,Kingston,3D virtual tour available â€“ contact for deta...,3,1
2,2625,Renovated from top to bottom! 3 Bedroom - Avai...,20,07012021,Kingston,It is a beautiful spacious unit in a great loc...,3,1
3,1950,"2 Bedroom, Available May 1st, 2021 - 10 MINS F...",10,14012021,Kingston,"Just 10 minutes to Queen's University, and ste...",1,1
4,2673,RENOVATED 3-Bedroom Apartment - 5 Mins to Quee...,5,17012021,Kingston,"Completely renovated, 3-bedroom apartment is o...",3,1
5,650,HOUSE RENTAL-1 BEDROOM-FEMALE-ONE MIN WALK TO ...,1,23012021,Kingston,Located just a one minute walk from Queen's Un...,1,1
6,650,HOUSE RENTAL-1 BEDROOM-FEMALE-ONE MIN WALK TO ...,1,23012021,Kingston,Located just a one minute walk from Queen's Un...,1,1
7,650,"LRG 6Bdrm, 15 Min to Queens, Modern & Spacious...",15,23012021,Kingston,Spacious 6 bed home. 15 min walk to Uni. Prime...,1,1
8,NaN,Queen's Student Rentals! - Many Units Availabl...,20,23012021,Kingston,Attention Queen's students! Are you looking fo...,1,1
9,1995,Gorgeous 2 bed 1 Bath Brand new Condo,20,23012021,Kingston,"2 BEDROOM , 1 BATHROOM UNIT Water & Heat Inclu...",2,1
11,585,1st Year SLC Students - Searching for Housing ...,20,21012021,Kingston,Great house available May 1st just 3 minutes f...,1,1
12,1995,Modern 2 BEDROOM STUDENT RENTAL - HEAT & WATER...,20,21012021,Kingston,"2 BEDROOM , 1 BATHROOM UNIT Water & Heat Inclu...",2,1
13,NaN,Wanted: 3 bedroom a...,20,21012021,Kingston,"Hello, we are a group of three students curren...",3,1
14,1000,Wanted: 3 Queens 2n...,20,21012021,Kingston,Ideal really close to Queens campus. 3 serious...,1,1
15,300,5 Bedroom 2 Bathroom Student Only House,20,21012021,Kingston,5 bedrooms with 2 Bathrooms. Comes with a larg...,5,2

In [14]:
clean_df.to_csv(r'C:\\Eduard\\Projects\\GitHub\\QHacks-2021\\ml\\data\housing_data1.csv', index = False)